<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }}</title>
  {%- if description %}
  <meta name="description" content="{{ description }}" />
  {%- endif %}
  <link rel="preload" href="assets/fonts/static/PlusJakartaSans-Regular.ttf" as="font" type="font/ttf" crossorigin />
  <link rel="preload" href="assets/fonts/static/PlusJakartaSans-Medium.ttf" as="font" type="font/ttf" crossorigin />
  <link rel="preload" href="assets/fonts/static/PlusJakartaSans-SemiBold.ttf" as="font" type="font/ttf" crossorigin />
  <link rel="preload" href="assets/fonts/static/CormorantGaramond-Medium.ttf" as="font" type="font/ttf" crossorigin />
  <link rel="stylesheet" href="css/fonts.css" />
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/layout.css" />
  {%- for href in extraCss %}
  <link rel="stylesheet" href="{{ href }}" />
  {%- endfor %}
</head>
<body>

{% include "header.njk" %}

{{ content | safe }}

{% include "footer.njk" %}

<script src="js/nav.js" defer></script>
{%- for src in extraJs %}
<script src="{{ src }}" defer></script>
{%- endfor %}
</body>
</html>
